.parent {
  position: relative;
}

.container {
  background:
    linear-gradient(
      to bottom,
      #1a32a9,
      #1a32a9 3%,
      #587af0 10%,
      #587af0
    );
  border: 2px solid #1a32a9;
  border-radius: 10px;
  box-shadow: 0 0 20px #E5E6E2 inset;
  display: grid;
  grid-template-columns: 17px 50px 50px 50px 50px 17px;
  grid-template-rows: 95px 50px 50px 50px 50px 50px 20px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  height: 395px;
  left: 50%;
  margin: 0 0 0 -129px;
  position: absolute;
  top: 50%;
  width: 259px;
}

.stripes {
  background-image:
    repeating-linear-gradient(
      to bottom,
      #3956d2,
      #3956d2 2px,
      transparent 2px,
      transparent 4px
    );
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
}

.screen {
  background-color: #d8e3e4;
  border: 1px solid;
  bottom: 0;
  box-shadow: 0 0 5px #000 inset;
  font-family: 'VT323', monospace;
  font-size: 38px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  text-align: right;
  width: 239px;
}

button {
  background-color: #e6E1e4;
  border: 2px solid #333b69;
  border-radius: 20px;
  box-shadow: 0 0 5px #333b69;
  color: #333b69;
  font-family: 'Varela Round', sans-serif;
  font-size: 22px;
  height: 40px;
  width: 50px;
}

button:active {
  box-shadow: 0 0 5px #333b69 inset;
}

button:focus {
  outline: none;
}

.red-button {
  background-color: #e86073;
}

.big-button {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100px;
}

.row {
  grid-column-start: 2;
  grid-column-end: 3;
}
